.button {
    width:  100%;
    background: darkblue;
    color: white;
    border: none;
    padding: 20px;
    margin: 30px 0px 50px 0px;
    font-size: 12pt;
    border-radius: 20px;
}

.button:disabled {
    background: #888;
    cursor: not-allowed;
}